<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pacientes</title>
</head>
<body>
<!-- Incluir el navbar -->
<div th:replace="~{navbar.html}"></div>

<h1>Lista de Pacientes</h1>

<ul>
  <!-- Mostrar la lista de pacientes -->
  <li th:each="paciente : ${pacientes}">
    <span th:text="${paciente.nombre}">Nombre del Paciente</span> -
    <span th:text="${paciente.diagnostico}">Diagnóstico</span>
  </li>
</ul>
</body>
</html>
