<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pacientes del Hospital</title>
</head>
<body>
<h1>Pacientes del Hospital</h1>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Diagnóstico</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="paciente : ${pacientes}">
        <td th:text="${paciente.nombre}"></td>
        <td th:text="${paciente.edad}"></td>
        <td th:text="${paciente.diagnostico}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>